.height_background_portrait {
  height: 297mm;
}

.height_background_landscape {
  height: 210mm;
}

div.substitute {
  position: absolute;
  top: 5mm;
  left: 180mm;
  font-size: 30px;
}
/* name-wht */
div.name-wht {
  position: absolute;
  top: 23.5mm;
  left: 186mm;
  font-size: 2.7mm;
}
/* ผู้ถูกเสียภาษี  */

div.id-card {
  position: absolute;
  top: 29.5mm;
  left: 137mm;
  font-size: 14px;
}

div.taxpayer {
  position: absolute;
  top: 36mm;
  left: 23mm;
  font-size: 2.65mm;
}

div.taxpayer-address {
  position: absolute;
  top: 44.5mm;
  left: 25mm;
  font-size: 2.65mm;
}

div.vat-1 {
  position: absolute;
  top: 35.5mm;
  left: 152.5mm;
  font-size: 14px;
}

/* ผู้ถูกหักภาษี  */

div.id-card-2 {
  position: absolute;
  top: 53.5mm;
  left: 137mm;
  font-size: 14px;
}

div.taxpayer-2 {
  position: absolute;
  top: 62mm;
  left: 23mm;
  font-size: 2.65mm;
}

div.taxpayer-address-2 {
  position: absolute;
  top: 71.5mm;
  left: 25mm;
  font-size: 2.65mm;
}

div.vat-2 {
  position: absolute;
  top: 60.5mm;
  left: 152.5mm;
  font-size: 14px;
}

/* king of wht */
div.pnd1k {
  position: absolute;
  top: 79mm;
  left: 78mm;
  font-size: 19px;
}

div.pnd1ks {
  position: absolute;
  top: 79mm;
  left: 105.5mm;
  font-size: 19px;
}

div.pnd2 {
  position: absolute;
  top: 79mm;
  left: 143.5mm;
  font-size: 19px;
}

div.pnd3 {
  position: absolute;
  top: 79mm;
  left: 171mm;
  font-size: 19px;
}

/* row 2 pnd */
div.pnd2k {
  position: absolute;
  top: 85.5mm;
  left: 78mm;
  font-size: 19px;
}

div.pnd3k {
  position: absolute;
  top: 85.5mm;
  left: 105.5mm;
  font-size: 19px;
}

div.pnd53 {
  position: absolute;
  top: 85.5mm;
  left: 143.5mm;
  font-size: 19px;
}

span.spacing-7 {
  letter-spacing: 7px;
}

span.spacing-9 {
  letter-spacing: 9px;
}

/* PND 3 */
div.id-card-pnd3 {
  position: absolute;
  top: 130px;
  left: 218px;
  font-size: 14px;
}

div.branch-pnd3 {
  position: absolute;
  top: 171px;
  left: 372px;
  font-size: 14px;
  letter-spacing: 7px;
}

div.department-pnd3 {
  position: absolute;
  top: 192px;
  left: 63px;
  font-size: 14px;
}

div.address-pnd3-1 {
  position: absolute;
  top: 218px;
  left: 120px;
  font-size: 11px;
  line-height: 11px;
}

div.address-pnd3-2 {
  position: absolute;
  top: 239px;
  left: 82px;
  font-size: 11px;
  line-height: 11px;
}

div.address-pnd3-3 {
  position: absolute;
  top: 261px;
  left: 80px;
  font-size: 11px;
  line-height: 11px;
}

div.address-pnd3-4 {
  position: absolute;
  top: 281px;
  left: 109px;
  font-size: 11px;
}
div.address-pnd3-5 {
  position: absolute;
  top: 299px;
  left: 125px;
  font-size: 14px;
  letter-spacing: 6.5px;
}

div.pnd3-section3 {
  position: absolute;
  top: 407px;
  left: 171px;
  font-size: 19px;
}

div.pnd3-section48 {
  position: absolute;
  top: 407px;
  left: 326px;
  font-size: 19px;
}

div.pnd3-section50 {
  position: absolute;
  top: 407px;
  left: 481px;
  font-size: 19px;
}

div.pnd3-month-1 {
  position: absolute;
  top: 184px;
  left: 451px;
  font-size: 19px;
}

div.pnd3-month-2 {
  position: absolute;
  top: 215px;
  left: 451px;
  font-size: 19px;
}

div.pnd3-month-3 {
  position: absolute;
  top: 247.5px;
  left: 451px;
  font-size: 19px;
}

div.pnd3-month-4 {
  position: absolute;
  top: 184px;
  left: 527px;
  font-size: 19px;
}

div.pnd3-month-5 {
  position: absolute;
  top: 215px;
  left: 527px;
  font-size: 19px;
}

div.pnd3-month-6 {
  position: absolute;
  top: 247.5px;
  left: 527px;
  font-size: 19px;
}

div.pnd3-month-7 {
  position: absolute;
  top: 184px;
  left: 604px;
  font-size: 19px;
}

div.pnd3-month-8 {
  position: absolute;
  top: 215px;
  left: 604px;
  font-size: 19px;
}

div.pnd3-month-9 {
  position: absolute;
  top: 247.5px;
  left: 604px;
  font-size: 19px;
}

div.pnd3-month-10 {
  position: absolute;
  top: 184px;
  left: 677px;
  font-size: 19px;
}

div.pnd3-month-11 {
  position: absolute;
  top: 215px;
  left: 677px;
  font-size: 19px;
}

div.pnd3-month-12 {
  position: absolute;
  top: 247.5px;
  left: 677px;
  font-size: 19px;
}

div.pnd3-fill-1 {
  position: absolute;
  top: 350px;
  left: 110px;
  font-size: 19px;
}

div.pnd3-fill-2 {
  position: absolute;
  top: 350px;
  left: 238px;
  font-size: 19px;
}

div.pnd3-year-pos {
  position: absolute;
  top: 156px;
  left: 704px;
  font-size: 12px;
}

div.total-pnd3 {
  position: absolute;
  top: 663px;
  width: 675px;
  font-size: 12px;
  text-align: right;
}

div.tax-pnd3 {
  position: absolute;
  top: 687px;
  width: 675px;
  font-size: 12px;
  text-align: right;
}

div.add-amount-pnd3 {
  position: absolute;
  top: 712px;
  width: 675px;
  font-size: 12px;
  text-align: right;
}

div.summary-pnd3 {
  position: absolute;
  top: 735px;
  width: 675px;
  font-size: 12px;
  text-align: right;
}

/* PND 3 Attachment */
div.page-pnd3-attach {
  position: absolute;
  top: 46px;
  left: 933px;
  width: 38px;
  text-align: center;
}

div.to-page-pnd3-attach {
  position: absolute;
  top: 46px;
  left: 1016px;
  width: 53px;
  text-align: center;
}

div.id-card-pnd3-attach {
  position: absolute;
  top: 26px;
  left: 503px;
}

div.branch-pnd3-attach {
  position: absolute;
  top: 23px;
  left: 1013px;
}

div.pnd3-box-1-line-1 {
  position: absolute;
  top: 152px;
}

div.pnd3-box-1-line-2 {
  position: absolute;
  top: 175px;
}

div.pnd3-box-1-line-3 {
  position: absolute;
  top: 197px;
}

div.pnd3-box-2-line-1 {
  position: absolute;
  top: 226px;
}

div.pnd3-box-2-line-2 {
  position: absolute;
  top: 248px;
}

div.pnd3-box-2-line-3 {
  position: absolute;
  top: 270px;
}

div.pnd3-box-3-line-1 {
  position: absolute;
  top: 299px;
}

div.pnd3-box-3-line-2 {
  position: absolute;
  top: 321px;
}

div.pnd3-box-3-line-3 {
  position: absolute;
  top: 343px;
}

div.pnd3-box-4-line-1 {
  position: absolute;
  top: 371px;
}

div.pnd3-box-4-line-2 {
  position: absolute;
  top: 393px;
}

div.pnd3-box-4-line-3 {
  position: absolute;
  top: 416px;
}

div.pnd3-box-5-line-1 {
  position: absolute;
  top: 444px;
}

div.pnd3-box-5-line-2 {
  position: absolute;
  top: 466px;
}

div.pnd3-box-5-line-3 {
  position: absolute;
  top: 489px;
}

div.pnd3-box-6-line-1 {
  position: absolute;
  top: 516px;
}

div.pnd3-box-6-line-2 {
  position: absolute;
  top: 539px;
}

div.pnd3-box-6-line-3 {
  position: absolute;
  top: 561px;
}

div.pnd3-summary {
  position: absolute;
  top: 588px;
}

/* PND 53 */
div.id-card-pnd53 {
  position: absolute;
  top: 130px;
  left: 223px;
  font-size: 14px;
}

div.branch-pnd53 {
  position: absolute;
  top: 172px;
  left: 373px;
  font-size: 14px;
  letter-spacing: 6px;
}

div.department-pnd53 {
  position: absolute;
  top: 192px;
  left: 69px;
  font-size: 14px;
}

div.address-pnd53-1 {
  position: absolute;
  top: 218px;
  left: 125px;
  font-size: 11px;
  line-height: 11px;
}

div.address-pnd53-2 {
  position: absolute;
  top: 239px;
  left: 88px;
  font-size: 11px;
  line-height: 11px;
}

div.address-pnd53-3 {
  position: absolute;
  top: 260px;
  left: 85px;
  font-size: 11px;
  line-height: 11px;
}

div.address-pnd53-4 {
  position: absolute;
  top: 280px;
  left: 112px;
  font-size: 11px;
}
div.address-pnd53-5 {
  position: absolute;
  top: 297px;
  left: 131px;
  font-size: 14px;
  letter-spacing: 7px;
}

div.pnd53-section3 {
  position: absolute;
  top: 159px;
  left: 493px;
  font-size: 19px;
}

div.pnd53-section65 {
  position: absolute;
  top: 183px;
  left: 493px;
  font-size: 19px;
}

div.pnd53-section69 {
  position: absolute;
  top: 210px;
  left: 493px;
  font-size: 19px;
}

div.pnd53-year-pos {
  position: absolute;
  top: 336px;
  left: 410px;
  font-size: 12px;
}

div.pnd53-month-1 {
  position: absolute;
  top: 350px;
  left: 57.5px;
  font-size: 19px;
}

div.pnd53-month-2 {
  position: absolute;
  top: 369px;
  left: 57.5px;
  font-size: 19px;
}

div.pnd53-month-3 {
  position: absolute;
  top: 387px;
  left: 57.5px;
  font-size: 19px;
}

div.pnd53-month-4 {
  position: absolute;
  top: 350px;
  left: 157.5px;
  font-size: 19px;
}

div.pnd53-month-5 {
  position: absolute;
  top: 369px;
  left: 157.5px;
  font-size: 19px;
}

div.pnd53-month-6 {
  position: absolute;
  top: 387px;
  left: 157.5px;
  font-size: 19px;
}

div.pnd53-month-7 {
  position: absolute;
  top: 350px;
  left: 258.5px;
  font-size: 19px;
}

div.pnd53-month-8 {
  position: absolute;
  top: 369px;
  left: 258.5px;
  font-size: 19px;
}

div.pnd53-month-9 {
  position: absolute;
  top: 387px;
  left: 258.5px;
  font-size: 19px;
}

div.pnd53-month-10 {
  position: absolute;
  top: 350px;
  left: 355.5px;
  font-size: 19px;
}

div.pnd53-month-11 {
  position: absolute;
  top: 369px;
  left: 355.5px;
  font-size: 19px;
}

div.pnd53-month-12 {
  position: absolute;
  top: 387px;
  left: 355.5px;
  font-size: 19px;
}

div.pnd53-fill-1 {
  position: absolute;
  top: 264px;
  left: 479px;
  font-size: 19px;
}

div.pnd53-fill-2 {
  position: absolute;
  top: 264px;
  left: 604px;
  font-size: 19px;
}

div.total-pnd53 {
  position: absolute;
  top: 639px;
  width: 640px;
  font-size: 12px;
  text-align: right;
}

div.tax-pnd53 {
  position: absolute;
  top: 663px;
  width: 640px;
  font-size: 12px;
  text-align: right;
}

div.add-amount-pnd53 {
  position: absolute;
  top: 689px;
  width: 640px;
  font-size: 12px;
  text-align: right;
}

div.summary-pnd53 {
  position: absolute;
  top: 716px;
  width: 640px;
  font-size: 12px;
  text-align: right;
}

/* PND 53 Attachment */
div.page-pnd53-attach {
  position: absolute;
  top: 45px;
  left: 928px;
  width: 38px;
  text-align: center;
}

div.to-page-pnd53-attach {
  position: absolute;
  top: 45px;
  left: 1008px;
  width: 53px;
  text-align: center;
}

div.id-card-pnd53-attach {
  position: absolute;
  top: 24px;
  left: 504px;
}

div.branch-pnd53-attach {
  position: absolute;
  top: 23px;
  left: 784px;
}

div.pnd53-box-1-line-1 {
  position: absolute;
  top: 152px;
}

div.pnd53-box-1-line-2 {
  position: absolute;
  top: 174px;
}

div.pnd53-box-1-line-3 {
  position: absolute;
  top: 187px;
}

div.pnd53-box-2-line-1 {
  position: absolute;
  top: 220px;
}

div.pnd53-box-2-line-2 {
  position: absolute;
  top: 242px;
}

div.pnd53-box-2-line-3 {
  position: absolute;
  top: 254px;
}

div.pnd53-box-3-line-1 {
  position: absolute;
  top: 289px;
}

div.pnd53-box-3-line-2 {
  position: absolute;
  top: 311px;
}

div.pnd53-box-3-line-3 {
  position: absolute;
  top: 324px;
}

div.pnd53-box-4-line-1 {
  position: absolute;
  top: 358px;
}

div.pnd53-box-4-line-2 {
  position: absolute;
  top: 380px;
}

div.pnd53-box-4-line-3 {
  position: absolute;
  top: 393px;
}

div.pnd53-box-5-line-1 {
  position: absolute;
  top: 427px;
}

div.pnd53-box-5-line-2 {
  position: absolute;
  top: 449px;
}

div.pnd53-box-5-line-3 {
  position: absolute;
  top: 462px;
}

div.pnd53-box-6-line-1 {
  position: absolute;
  top: 497px;
}

div.pnd53-box-6-line-2 {
  position: absolute;
  top: 518px;
}

div.pnd53-box-6-line-3 {
  position: absolute;
  top: 531px;
}

div.pnd53-box-1-wht-1 {
  position: absolute;
  top: 173px;
}

div.pnd53-box-1-wht-2 {
  position: absolute;
  top: 188px;
}

div.pnd53-box-1-wht-3 {
  position: absolute;
  top: 201px;
}

div.pnd53-box-2-wht-1 {
  position: absolute;
  top: 241px;
}

div.pnd53-box-2-wht-2 {
  position: absolute;
  top: 255px;
}

div.pnd53-box-2-wht-3 {
  position: absolute;
  top: 269px;
}

div.pnd53-box-3-wht-1 {
  position: absolute;
  top: 310px;
}

div.pnd53-box-3-wht-2 {
  position: absolute;
  top: 325px;
}

div.pnd53-box-3-wht-3 {
  position: absolute;
  top: 339px;
}

div.pnd53-box-4-wht-1 {
  position: absolute;
  top: 379px;
}

div.pnd53-box-4-wht-2 {
  position: absolute;
  top: 394px;
}

div.pnd53-box-4-wht-3 {
  position: absolute;
  top: 407px;
}

div.pnd53-box-5-wht-1 {
  position: absolute;
  top: 448px;
}

div.pnd53-box-5-wht-2 {
  position: absolute;
  top: 463px;
}

div.pnd53-box-5-wht-3 {
  position: absolute;
  top: 477px;
}

div.pnd53-box-6-wht-1 {
  position: absolute;
  top: 517px;
}

div.pnd53-box-6-wht-2 {
  position: absolute;
  top: 532px;
}

div.pnd53-box-6-wht-3 {
  position: absolute;
  top: 546px;
}

div.pnd53-summary {
  position: absolute;
  top: 570px;
}

/* wht_payment */

div.wht-payment-wht {
  position: absolute;
  top: 249mm;
  left: 33.5mm;
  font-size: 19px;
}

div.wht-payment-forever {
  position: absolute;
  top: 249mm;
  left: 66.5mm;
  font-size: 19px;
}

div.wht-payment-once {
  position: absolute;
  top: 249mm;
  left: 104.5mm;
  font-size: 19px;
}

div.wht-payment-other {
  position: absolute;
  top: 249mm;
  left: 143.5mm;
  font-size: 19px;
}

div.wht-note {
  position: absolute;
  top: 223mm;
  left: 37mm;
  font-size: 2.67mm;
}

div.wht-document-datetime-days {
  position: absolute;
  top: 267mm;
  left: 128mm;
  font-size: 2.67mm;
}


div.wht-document-datetime-month {
  position: absolute;
  top: 267mm;
  left: 540px;
  font-size: 2.67mm;
}

div.wht-document-datetime-year {
  position: absolute;
  top: 267mm;
  left: 160mm;
  font-size: 2.67mm;
}

/* line wht  */
/* line wht-1  */
div.wht-1-col-1 {
  position: absolute;
  top: 105mm;
  left: 125mm;
  font-size: 2.67mm;
}

div.wht-1-col-2 {
  position: absolute;
  top: 105mm;
  right: 43mm;
  font-size: 2.67mm;
}

div.wht-1-col-3 {
  position: absolute;
  top: 105mm;
  right: 18mm;
  font-size: 2.67mm;
}

/* line wht-2  */
div.wht-2-col-1 {
  position: absolute;
  top: 110mm;
  left: 125mm;
  font-size: 2.67mm;
}

div.wht-2-col-2 {
  position: absolute;
  top: 110mm;
  right: 43mm;
  font-size: 2.67mm;
}

div.wht-2-col-3 {
  position: absolute;
  top: 110mm;
  right: 17.8mm;
  font-size: 2.67mm;
}

/* line wht-3  */
div.wht-3-col-1 {
  position: absolute;
  top: 115mm;
  left: 125mm;
  font-size: 2.67mm;
}

div.wht-3-col-2 {
  position: absolute;
  top: 115mm;
  right: 43mm;
  font-size: 2.67mm;
}

div.wht-3-col-3 {
  position: absolute;
  top: 115mm;
  right: 17.8mm;
  font-size: 2.67mm;
}

/* line wht-4  */
div.wht-4-col-1 {
  position: absolute;
  top: 120mm;
  left: 125mm;
  font-size: 2.67mm;
}

div.wht-4-col-2 {
  position: absolute;
  top: 120mm;
  right: 43mm;
  font-size: 2.67mm;
}

div.wht-4-col-3 {
  position: absolute;
  top: 120mm;
  right: 17.8mm;
  font-size: 2.67mm;
}

/* line wht-4-1-1  */
div.wht-4-1-1-col-1 {
  position: absolute;
  top: 141mm;
  left: 125mm;
  font-size: 2.67mm;
}

div.wht-4-1-1-col-2 {
  position: absolute;
  top: 141mm;
  right: 43mm;
  font-size: 2.67mm;
}

div.wht-4-1-1-col-3 {
  position: absolute;
  top: 141mm;
  right: 17.8mm;
  font-size: 2.67mm;
}


/* line wht-4-1-2  */
div.wht-4-1-2-col-1 {
  position: absolute;
  top: 146mm;
  left: 125mm;
  font-size: 2.67mm;
}

div.wht-4-1-2-col-2 {
  position: absolute;
  top: 146mm;
  right: 43mm;
  font-size: 2.67mm;
}

div.wht-4-1-2-col-3 {
  position: absolute;
  top: 146mm;
  right: 17.8mm;
  font-size: 2.67mm;
}

/* line wht-4-1-3  */
div.wht-4-1-3-col-1 {
  position: absolute;
  top: 151mm;
  left: 125mm;
  font-size: 2.67mm;
}

div.wht-4-1-3-col-2 {
  position: absolute;
  top: 151mm;
  right: 43mm;
  font-size: 2.67mm;
}

div.wht-4-1-3-col-3 {
  position: absolute;
  top: 151mm;
  right: 17.8mm;
  font-size: 2.67mm;
}

/* line wht-4-1-4  */
div.wht-4-1-4-col-1 {
  position: absolute;
  top: 156mm;
  left: 125mm;
  font-size: 2.67mm;
}

div.wht-4-1-4-col-2 {
  position: absolute;
  top: 156mm;
  right: 43mm;
  font-size: 2.67mm;
}

div.wht-4-1-4-col-3 {
  position: absolute;
  top: 156mm;
  right: 17.8mm;
  font-size: 2.67mm;
}


/* line wht-4-2-1  */
div.wht-4-2-1-col-1 {
  position: absolute;
  top: 166mm;
  left: 125mm;
  font-size: 2.67mm;
}

div.wht-4-2-1-col-2 {
  position: absolute;
  top: 166mm;
  right: 43mm;
  font-size: 2.67mm;
}

div.wht-4-2-1-col-3 {
  position: absolute;
  top: 166mm;
  right: 17.8mm;
  font-size: 2.67mm;
}

/* line wht-4-2-2  */
div.wht-4-2-2-col-1 {
  position: absolute;
  top: 177mm;
  left: 125mm;
  font-size: 2.67mm;
}

div.wht-4-2-2-col-2 {
  position: absolute;
  top: 177mm;
  right: 43mm;
  font-size: 2.67mm;
}

div.wht-4-2-2-col-3 {
  position: absolute;
  top: 177mm;
  right: 17.8mm;
  font-size: 2.67mm;
}

/* line wht-4-2-3  */
div.wht-4-2-3-col-1 {
  position: absolute;
  top: 187mm;
  left: 125mm;
  font-size: 2.67mm;
}

div.wht-4-2-3-col-2 {
  position: absolute;
  top: 187mm;
  right: 43mm;
  font-size: 2.67mm;
}

div.wht-4-2-3-col-3 {
  position: absolute;
  top: 187mm;
  right: 17.8mm;
  font-size: 2.67mm;
}
/* line wht-4-2-4  */
div.wht-4-2-4-col-1 {
  position: absolute;
  top: 192mm;
  left: 125mm;
  font-size: 2.67mm;
}

div.wht-4-2-4-col-2 {
  position: absolute;
  top: 192mm;
  right: 43mm;
  font-size: 2.67mm;
}

div.wht-4-2-4-col-3 {
  position: absolute;
  top: 192mm;
  right: 17.8mm;
  font-size: 2.67mm;
}
/* wht_note-4-2-5-col-1 */
div.wht_note_4-2-5-col-1 {
  position: absolute;
  top: 197.5mm;
  right: 115mm;
  font-size: 2.67mm;
  white-space: nowrap;
  width: 50mm;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.wht_note_4-2-5-col-1:hover {
  overflow: visible;
}

/* line wht-4-2-5  */
div.wht-4-2-5-col-1 {
  position: absolute;
  top: 197mm;
  left: 125mm;
  font-size: 2.67mm;
}

div.wht-4-2-5-col-2 {
  position: absolute;
  top: 197mm;
  right: 43mm;
  font-size: 2.67mm;
}

div.wht-4-2-5-col-3 {
  position: absolute;
  top: 197mm;
  right: 17.8mm;
  font-size: 2.67mm;
}

/* line wht-5  */
div.wht-5-col-1 {
  position: absolute;
  top: 217mm;
  left: 125mm;
  font-size: 2.67mm;
}

div.wht-5-col-2 {
  position: absolute;
  top: 217mm;
  right: 43mm;
  font-size: 2.67mm;
}

div.wht-5-col-3 {
  position: absolute;
  top: 217mm;
  right: 17.8mm;
  font-size: 2.67mm;
}

div.row-0 {
  top: 217mm
}
div.row-1 {
  top: 214mm
}
div.row-2 {
  top: 211mm
}
div.row-3 {
  top: 208mm
}
div.row-4 {
  top: 205mm
}
div.row-5 {
  top: 202mm
}

/* line wht-6  */
div.wht-6-col-1 {
  position: absolute;
  top: 222mm;
  left: 125mm;
  font-size: 2.67mm;
}

div.wht-6-col-2 {
  position: absolute;
  top: 222mm;
  right: 43mm;
  font-size: 2.67mm;
}

div.wht-6-col-3 {
  position: absolute;
  top: 222mm;
  right: 17.8mm;
  font-size: 2.67mm;
}


/* wht_note_6-col-1 */
div.wht_note_6-col-1 {
  position: absolute;
  top: 222.5mm;
  right: 115mm;
  font-size: 2.67mm;
  white-space: nowrap;
  width: 68mm;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.wht_note_6-col-1:hover {
  overflow: visible;
}

/* line wht-total  */
div.wht-total-col-1 {
  position: absolute;
  top: 230mm;
  right: 43mm;
  font-size: 2.67mm;
}

div.wht-total-col-2 {
  position: absolute;
  top: 230mm;
  right: 17.8mm;
  font-size: 2.67mm;
}


/* line wht-total-th  */
div.wht-total-th-col-1 {
  position: absolute;
  top: 236mm;
  left: 70mm;
  font-size: 3.67mm;
}
